.caja-vestidos{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 90%;
	}
	.contenedor-texto{
		text-align: center;
		width: 80%;
	  
		}
	.contenedor-imagenes{
		display: flex;
		flex-direction: row;
	img{
	  
		justify-content: space-around;
		@include imagenes-confecciones;
	}
}
    
    


