
    h1{
        color:aquamarine;
        font-size: 6rem;
        font-family: 'Ephesis', cursive;
        padding: 20px
        } 
        h2{
            text-align: center;
            font-size: 4rem;
            font-family: 'Mochiy Pop P One', sans-serif;
            font-weight: 2000px;
        color: whitesmoke;
        }
        h3{
           color: antiquewhite;
            font-size: 3rem;
            font-family: 'Nunito Sans', sans-serif;
        }
        h4{
            color:violet;
        }
        h6{
            font-size: 2rem;
        }
        .container-portada a{
            color: violet;
            
        }
        .container-portada a:hover{
            color: white;
        }
      
        .container-nosotros li{
    font-size: 2rem;
    color: beige;
}

p{
    color: aqua;
    font-size: 2rem;
}

nav.navbar {
    
    font-size: 2rem;
}

.datos-personales{
    font-size: 2rem;
    color: beige;
}
.texto-consultas{
    color: bisque;
    font-size: 2rem;
}
